<div class="main">
  <% @users.each do |user| %>
    <div class="main--index">
      <div class="user--img">
        <img src="<%= user.photo %> alt="<%= user.name  %>">
      </div>
      <div class="user--content">
        <h1><%= user.name %></h1>
        <div>
          <p><%= user.bio %></p>
          <p>Number of posts: <%= user.post_counter %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>