<section class="container w-full">
  <div class="w-full">
    <% @users.each do |user| %>
      <div id="user-card" class="w-full flex">
        <div class="w-1/4 border-2 rounded">
          <img src="<%= user.photo %> alt="<%= user.name  %>">
        </div>
        <div class="user--content">
          <h1><%= link_to user.name, user_path(user.id) %></h1>
          <div>
            <p><%= user.bio %></p>
            <p>Number of posts: <%= user.post_counter %></p>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</section>

