<div class="user-main">
  <div class="user-info">
    <div class="user-header">
      <img src="<%=@user.photo%>" alt="<%= @user.id %>">
      <div class="user-header-left">
        <h1><%= @user.name %></h1>
        <p>Number of post: <%= @user.post_counter || 0 %></p>
      </div>
    </div>
    <div class="user-bio">
      <p><%= @user.bio %></p>
    </div>
  </div>
  <div class="card-for-post">
    <% if @posts.empty? %>
      <h1>This User Dose Not Have Any Posts</h1>
    <%end%>
    <% @posts.each do |post| %>
      <div class="post-card">
        <div>
          <div>
            <h2>Post #: <%= post.id %></h2>
            <h4>Title: <%= link_to post.title, user_post_path(@user.id, post.id) %></h4>
            <p><%= post.text %></p>
          </div>
        </div>
        <div class="comments-and-likes">
          <p>Number of comments: <%= post.comments_counter %></p>
          <p>Number of likes: <%= post.likes_counter %></p>
        </div>
      </div>
      <div class="post-comments">
        <% if post.recent_comments == 0 %>
          <h1>This post has comments</h1>
        <%end%>
        <% post.recent_comments.each do |comment| %>
          <p><strong><%= comment.author.name %></strong> <%= comment.text %></p>
        <%end %>
      </div>
    <% end %>
  </div>


</div>